<html>
    <head></head>
    <body>
        <ul>
            <li>고객번호 : <%= locals.userNum %></li>
            <li>카카오ID(이메일) : <%= locals.userEmail %></li>
            <li>답변 받을 이메일: <%= locals.replyEmail %></li>
        </ul>
        <p>&nbsp;</p>
        <p><%= locals.content %></p>
    </body>
</html>